<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="Linq2SqlConnectionString" 
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GenericRepository.Test;Integrated Security=True" 
		/>
		<add name="EntityFrameworkConnectionString"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GenericRepository.Test;Integrated Security=True"	
		/>
	</connectionStrings>
</configuration>